# git is case sensitive by default

# Ignore everything
/*

# Allow top-level files
!.gitignore
!README.md

# Allow 
!src/
!src/**/
!src/**/*.c
!src/**/*.cpp

# Allow 
!dtsi/
!dtsi/**/
!dtsi/**/*.dtsi
!dtsi/README.md

# Allow 
!py/
!py/**/
!py/**/*.py
!dtsi/README.md
